$yellow: #fff019;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);

}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.alineacion {
	text-align: center;
}

.fondo-footer {
	background-color: $yellow;
	color: black;
	padding: 10px 10px 0 10px;
	@include margenes(10px, 0px);
}
.footer-icons {
	padding-right: 10px;
}

.carousel-inner {
	width: 100%;
	height: 100%;
}