.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.alineacion {
  text-align: center;
}
.fondo-footer {
  background-color: #fffa19;
  color: black;
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-icons {
  padding-right: 10px;
}
.carousel-inner {
  width: 100%;
  height: 100%;
}
